*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Regular;
    src: url(/static/Fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: ExtraBold;
    src: url(/static/Fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: Medium;
    src: url(/static/Fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: semi_bold;
    src: url(/static/Fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: Bold;
    src: url(/static/Fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: light;
    src: url(/static/Fonts/Poppins-Light.ttf);
}
body{
    width: 100%;
    height: 100%;
    background-color: #F4FFFC;
    position: relative;
}
.nav{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #003366;
}
#app-identity{
    position:relative;
}
#logo{
    width: 40px;
    height:40px;
    margin: 5px 10px 5px 5px;
}
#application_name{
    font-size: 20px;
    color: white;
    position:absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-family: ExtraBold;
    font-size: 25px;
}
#nav_items{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1px;
    top: 85%;
    transform: translate(0, -85%);
    right: 5px;
}
#nav_items a{
    color: white;
    text-decoration-line: none;
    text-align: center;
    font-family: Regular;
    font-size: 13px;
}
#nav_items .current_tab{
    font-family: Medium;
    font-size: 14px;
}
h1{
    margin-bottom: .5em;    
    font-family: Bold;
    color: #707070
}
h2{
    margin-bottom: .25em;
    margin-top: .5em;
    font-family: Bold;
    font-size: 18px;
    color: #707070;
}
h3{
    margin-bottom: .25em;
    margin-top: .5em;
    font-family: light;
    font-size: 13px;
    color: #707070;
    
}
.text_box{
    border: none;
    width: 30em;
    height: 3em;
    border-radius: 1em;
    background-color: white;
    padding-left: 1em;
    font-family: light;
    font-size: 13px;
}
.submit_button{
    margin-top: 2em;
    background-color:#1C3664;
    margin-left: 2em;
}
#button_section{
    position: relative;
}
#buttons-pack{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
button, .button{
    width: 25em;
    height: 3.25em;
    padding: 2em, 0px;
    margin-bottom: 2em;
    border-radius: 1em;
    border-style: none;
    color: white;
    font-family: semi_bold;
    font-size: 14px;
}
p{
    font-family: light;
    font-size: 13px;
}

/*tenant information*/
form.tenant_information {
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 300px;
}

.heading {
    text-align: center;
    width: 400px;
}

input.tenant_info_text[type="text"],
input.tenant_info_email[type="email"],
input.tenant_info_tel[type="tel"] {
    width: 400px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
}

input.tenant_info_submit[type="submit"] {
    border-radius: 10px;
    width: 250px;
    margin-left: 20%;
    padding: 12px 20px;
    background-color: #66CC99;
    color: rgb(238, 229, 229);
}

/*plot registration*/
.plot_info_form {
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 300px;
    width: 300px;
}


input.plot_info_text[type="text"],
input.plot_info_email[type="email"],
input.plot_info_number[type="number"],
input.plot_info_password[type="password"],
input.plot_info_tel[type="tel"] {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
}

input.plot_info_submit[type="submit"] {
    border-radius: 10px;
    width: 150px;
    margin-left: 25%;
    padding: 12px 20px;
    background-color: #FF9900;
    color: white;
}


/*all plot tenants*/

.container_tenants {
    max-width: 1100px;
    margin: 10px auto;
    padding: 0 20px;
    box-sizing: border-box;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th {
    color: hsla(0, 65%, 3%, 0.863);
    padding: 6px;
    text-align: left;
    font-weight: bold;
    border-radius: 1px 1px 0 0;
}

td {
    padding: 4px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

input.tenant_text[type="text"],
input.tenant_email[type="email"],
input.tenant_tel[type="tel"] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
    margin-top: 3px;
    background-color: transparent;
    outline: none;
}


.rating {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 9px;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    cursor: pointer;
    font-size: 15px;
    color: #ccc;
    margin: 0 3px;
    display: inline-block;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input[type="radio"]:checked ~ label {
    color: #0c0c0c;
}

.rate {
    margin-right: 20px;
    font-weight: bold;
}

.edit-button_tenants {
    text-align: center;
}

.edit-button_tenants button {
    border-radius: 6px;
    padding: 2px 2px;
    background-color: #66CC99;
    color: white;
    border: none;
    cursor: pointer;
}

.edit-button_tenants button:hover {
    background-color: #3ba478;
}

.number-column {
    text-align: center;
    vertical-align: middle;
}
.header_tenants {
    text-align: center;
}

.tenants_button {
    width: 10em;
}