*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Regular;
    src: url(/static/Fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: ExtraBold;
    src: url(/static/Fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: Medium;
    src: url(/static/Fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: semi_bold;
    src: url(/static/Fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: Bold;
    src: url(/static/Fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: light;
    src: url(/static/Fonts/Poppins-Light.ttf);
}
body{
    width: 100%;
    height: 100%;
    background-color: #F4FFFC;
    position: relative;
}
.nav{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #003366;
}
#app-identity{
    position:relative;
}
#logo{
    width: 40px;
    height:40px;
    margin: 5px 10px 5px 5px;
}
#application_name{
    font-size: 20px;
    color: white;
    position:absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-family: ExtraBold;
    font-size: 25px;
}
#nav_items{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1px;
    top: 85%;
    transform: translate(0, -85%);
    right: 5px;
}
#nav_items a{
    color: white;
    text-decoration-line: none;
    text-align: center;
    font-family: Regular;
    font-size: 13px;
}
#nav_items .current_tab{
    font-family: Medium;
    font-size: 14px;
}
h1{
    margin-bottom: .5em;    
    font-family: Bold;
    color: #707070
}
h3{
    margin-bottom: .25em;
    margin-top: .5em;
    font-family: light;
    font-size: 13px;
    color: #707070
}
.text_box{
    border: none;
    width: 30em;
    height: 3em;
    border-radius: 1em;
    background-color: white;
    padding-left: 1em;
    font-family: light;
    font-size: 13px;
}
.submit_button{
    margin-top: 2em;
    background-color:#1C3664;
    margin-left: 2em;
}
#button_section{
    position: relative;
}
#buttons-pack{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
button{
    width: 25em;
    height: 3.25em;
    padding: 2em, 0px;
    margin-bottom: 2em;
    border-radius: 1em;
    border-style: none;
    color: white;
    font-family: semi_bold;
    font-size: 14px;
}
p{
    font-size: 18px;
}

/*tenant information*/
form.tenant_information {
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 300px;
}

.heading {
    text-align: center;
    width: 400px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
}

input[type="submit"] {
    border-radius: 10px;
    width: 250px;
    margin-left: 20%;
    padding: 12px 20px;
    background-color: #66CC99;
    color: white;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    align-content: left;
    align-items: left;
    margin-top: 10px;
    margin-right: 0%;
    
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    cursor: pointer;
    font-size: 15px;
    color: #ccc;
    margin: 0 3px;
    display: inline-block;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input[type="radio"]:checked ~ label {
    color: #0c0c0c;
}

.rate {
    margin-right: 20px;
    margin-top: 2px;
    font-weight: bold;
}