.content{
    position: absolute;
    height: 80vh !important;
    width: 90% !important;
    top: 10vh;
    display: grid;
    right: 5%;
    grid-template-columns: repeat(2, 1fr);
}
#add_tenant-button{
    background-color: #F8991D;
}
#edit_information-button{
    background-color: #6DC497;
}
#new_house-button{
    background-color: #1C3664;
}
#screent_tenant-button{
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}
#plot_information{
    position: relative;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}