  form.login {
    margin-top: 70px;
    margin-left: 375px;
    margin-right: 375px;
}

.login_logo {
    text-align: center;
    justify-content: center;
}

input.login_email[type="email"],
input.login_password[type="password"] {
    border: 1px solid #ccc;
    width: 200px;
}


input.login_submit[type="submit"] {
    border-radius: 10px;
    width: 120px;
    margin-left: 22%;
    padding: 12px 20px;
    background-color: #FF9900;
    color: white;
    margin-top: 40px;
} 
.forget-password{
    margin-top: 5px;
    
}
.forget-password:hover{
    color: coral;

}