  form.login {
    margin-top: 100px;
    justify-content: center;
    text-align: center;

    
}





input.login_email[type="email"],
input.login_password[type="password"] {
    border: 1px solid #ccc;
    width: 300px;
    margin-bottom: 1px;
    
}




input.login_submit[type="submit"] {
    border-radius: 10px;
    width: 150px;
    padding: 12px 20px;
    background-color: #FF9900;
    color: white;
    margin-top: 10px;
} 
.forget-password{
    margin-top: 2px;
    
}
.forget-password:hover{
    color: coral;

}