{%extends 'home_base.html'%}
{%block link%}
    <link rel="stylesheet" href="././static/css/about_us.css">
{%endblock%}
{%block content%}

  <section id="about" class="about-section">
    <h2>About Us</h2>
    <div class="image-background">
      <img src="././static/img/Capture 2.PNG" alt="home">
    </div>
    <p>This project was inspired by the need to simplify the house screening process for both landlords and tenants. TuRent Community aims to provide a convenient and reliable solution for finding rental homes.</p>
    <p>This is a Portfolio Project for Holberton School. You can find more about Holberton School at <a href="https://holbertonschool.com">holbertonschool.com</a>.</p>
    <div class="team-members">
      <div class="team-member">
        <div class="member_image" id="laban">
            
        </div>
        <h3>Laban Rotich</h3>
        <ul class="social-links">
          <li><a href="https://www.linkedin.com/in/laban-rotich/">LinkedIn</a></li>
        
          <li><a href="https://github.com/laban254">GitHub</a></li>
          <li><a href="https://twitter.com/labank_">Twitter</a></li>
        </ul>
      </div>
      <div class="team-member">
        <div class="member_image" id="myra">
            
        </div>
        <h3>Myra Jarenga</h3>
        <ul class="social-links">
          <li><a href="https://www.linkedin.com/in/myrajarenga">LinkedIn</a></li>
          <li><a href="https://github.com/myrajarenga">GitHub</a></li>
          <li><a href="https://twitter.com/myrajarenga">Twitter</a></li>
        </ul>
      </div>
      <div class="team-member">
        <div class="member_image" id="bravin">
            
        </div>
        <h3>Bravin Atonya</h3>
        <ul class="social-links">
          <li><a href="https://www.linkedin.com/in/bravin-atonya-71048425a/">LinkedIn</a></li>
          <li><a href="https://github.com/atonya-bravin">GitHub</a></li>
          <li><a href="https://twitter.com/bravin-atonya-71048425a">Twitter</a></li>
        </ul>
      </div>
    </div>
  </section>




{%endblock%}