{%extends 'home_base.html'%}

{%block link%}

    <link rel="stylesheet" href="././static/css/login.css">
    <link rel="stylesheet" href="././static/css/forgot_password.css">
    
{%endblock%}

{% block content%}
<body>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flash-messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    <form class="login" method="POST" action="{{ url_for('forgot_password') }}">
        
        <label   for="email"><h3>Email</h3</label><br>
        <input type="email" id="email" disabled="disabled" placeholder="{{email}}" class="login_email text_box" name="email" required><br>

        <label  for="password"><h3>New Password</h3></label><br>
        <input type="password" id="password"  class="login_password text_box" name="password" required><br>
    
        <label  for="password"><h3>Confirm Password</h3></label><br>
        <input type="password" id="password"  class="login_password text_box" name="confirm_password" required><br>

        <button class="action_button" id="edit_tenant-button">Reset Password</button>
        
       
    </form>
</body  

{%endblock%}