{%extends 'home_base.html'%}

{%block content%}
    <div class="container">
        <div class="row">
            <div class="column" id="welcome_statement">
                <form>
                    <div class="heading">
                        <h1>Welcome To TuRent</h1>
                    </div>
                    
                    <p> Welcome to TuRent community we are glad you are here and we would like you to get the best services about rental service. We are here to provide an easly and flexible way to ensure you connect with the best landlords and tenants in town, and we shall be with you throught the journey. sit back relax and enjoy as you get access to the best houses in town that fit your budget and needs right at the palm of your hands.</p>
                    <button id="get_started">Get Started</button><br>
                </form> 

            </div>
            
        </div>
        <div class="row">
            <div class="column" id="image">
                
            </div>
        </div>
    </div>
    {%endblock%}  
</body>
</html>
