<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Landlord Registration</h1>
    <form method="POST" action="{{ url_for('register_landlord') }}">
        <label for="plot_number">Plot Number:</label>
        <input type="text" name="plot_number" required><br>
        <label for="phone_number">Phone Number:</label>
        <input type="text" name="phone_number" required><br>
        <label for="email">Email:</label>
        <input type="text" name="email" required><br>
        <label for="total_houses">Total Houses:</label>
        <input type="number" name="total_houses" required><br>
        <label for="location">Location:</label>
        <input type="text" name="location" required><br>
        <input type="submit" value="Register">
    </form>



    
</body>
</html>