{%extends "base.html"%}

{%block link%}
    <link rel="stylesheet" href="././static/css/landlord_landing_page.css">
{%endblock%}
{%block content%}
<div class="content">
    <div id="plot_information">
        <form action="{{url_for("update_landlord_info")}}" method="POST">
            <h1>Plot Information</h1>
            <h3>Plot Number</h3>
            <input type="text" name="plot_number" class="text_box" disabled="disabled" value="{{ plot.plot_number }}" >
            <h3>Phone Number</h3>
            <input type="text" name="phone_number" class="text_box" disabled="disabled" value="{{ plot.phone_number }}" >
            <h3>Email</h3>
            <input type="text" name="email" class="text_box" disabled="disabled" value="{{ plot.email }}" >
            <h3>Number of Houses</h3>
            <input type="text" name="number_of_houses" class="text_box" disabled="disabled" value="{{ plot.total_houses }}" ><br>
            <div class="action_buttons">
                <button type="submit" class="information_buttons" id="save_button" class="action_button">Save Information</button>
                <input type="button" class="information_buttons button" class="action_button" id="edit_button" value="Edit Information"/>
            </div>
            
        </form>
    </div>
    <div id="button_section">
        <div id="buttons-pack">
            <button class="action_button" id="add_tenant-button" onclick="location.href='/new_tenant'">Add Tenant</button><br>
            <button class="action_button" id="edit_information-button" onclick="location.href='/edit_tenant_info'">Edit Tenant Information</button><br>
            <button class="action_button" id="new_house-button" onclick="location.href='/house_registration'">Add New House</button><br>
            <button class="action_button" id="screent_tenant-button" onclick="location.href='/tenant_screening_page'">Screen a Tenant</button><br>
        </div>
    </div>
</div>
<script src="././static/scripts/edit_plot.js"></script>
{%endblock%}