{%extends "base.html"%}

{%block link%}
    <link rel="stylesheet" href="././static/css/landlord_landing_page.css">
{%endblock%}
{%block content%}
<div class="content">
    <div id="plot_information">
        <form action="" method="post">
            <h1>Plot Information</h1>
            <h3>Plot Number</h3>
            <input type="text" name="plot_number" class="text_box" placeholder="CH0098re" disabled="disabled">
            <h3>Phone Number</h3>
            <input type="text" name="phone_number" class="text_box" placeholder="0791995866" disabled="disabled">
            <h3>Email</h3>
            <input type="text" name="email" class="text_box" placeholder="bravinatonya.brani@gmail.com" disabled="disabled">
            <h3>Number of Houses</h3>
            <input type="text" name="number_of_houses" class="text_box" placeholder="45" disabled="disabled"><br>
            <button type="submit" class="submit_button">Edit information</button>
        </form>
    </div>
    <div id="button_section">
        <div id="buttons-pack">
            <button class="action_button" id="add_tenant-button" onclick="location.href='/new_tenant'">Add Tenant</button><br>
            <button class="action_button" id="edit_information-button" onclick="location.href='/edit_tenant_info'">Edit Tenant Information</button><br>
            <button class="action_button" id="new_house-button" onclick="location.href='/house_registration'">Add New House</button><br>
            <button class="action_button" id="screent_tenant-button" onclick="location.href='/tenant_screening_page'">Screen a Tenant</button><br>
        </div>
    </div>
</div>
{%endblock%}