{%extends 'base.html'%}

{%block link%}
    <link rel="stylesheet" href="././static/css/new_tenant.css">
{%endblock%}
{%block content%} 
<div id=content>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flash-messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    <form class="add_tenant_info" method="POST" action="new_tenant">
        <div class="heading">
            <h1>New Tenant Information</h1>
        </div>
        
        <label for="first name"><h3>First Name</h3></label><br>
        <input type="text" id="first_name" name="first_name" class="text_box" required><br><br>
        
        <label for="lastName"><h3>Last Name</h3></label><br>
        <input type="text" id="last_name" name="last_name" class="text_box" required><br><br>
        
        <label for="email"><h3>Email</h3></label><br>
        <input type="text" id="email" name="email" class="text_box" required><br><br>
        
        
        <label for="phoneNumber"><h3>Phone Number</h3></label><br>
        <input type="tel" id="phoneNumber" name="phone_Number" class="text_box" required><br><br>

    
        
        <button type="submit" value="Submit Information" class="submit_button" id="new_tenant_submit">Submit Information</button>
    </form>
</div>

{%endblock%}