{%extends "tenant_base.html"%}

{%block link%}
    <link rel="stylesheet" href="././static/css/tenant_landing_page.css">
{%endblock%}

{%block content%}
    <div class="content">
        <div id="welcome-section">
            <div id="welcome-statement">
                <h1>Enjoy the power of the TuRent Community App.</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque doloribus ea pariatur temporibus facere dignissimos explicabo deserunt excepturi. Magnam beatae, consequuntur molestiae voluptatibus quam illum facere eos voluptate error qui.
                Sed, praesentium? Repellat fugiat reiciendis libero, untur rem repellat ue at ab dolorum ullam obcaecati blanditiis sequi nulla quam doloribus placeat odit voluptatum consectetur veritatis! Similique, quibusdam corporis.</p>
            </div>
        </div>
        <div id="button_section">
            <div id="buttons-pack">
                <button class="action_button" id="available_houses">Available Houses</button><br>
                <button class="action_button" id="landlord_rating">Rate Your Landlord</button><br>
                <button class="action_button" id="landlord_screening">Screen a Landlord</button>
            </div>
        </div>
    </div>
{%endblock%}